/* your code */
table,tr {
	font-family: arial, sans-serif;
	font-size:15px;
	nth-child:even;
	background-color:steelblue;
	text-align:center;
	border-collapse:collapse;
	padding:20px;
}
thead{
	background-color:rgb(255,125,155);
	color:wheat;
	font-style:italic;
	padding:20px;
	
}
tr{
	tr:nth-child:even;
}